:root {
  --white: #fff;
  --paper: #fffcfa;
  --gray-dark: hsl(198, 27%, 22%);
  --gray: hsla(198, 27%, 22%, 0.5);
  --gray-lighter: hsla(198, 27%, 22%, 0.15);
  --green: hsl(147, 57%, 41%);
  --blue-lighter: hsl(211, 72%, 92%);
  --blue: hsl(213, 76%, 45%);
  --blue-dark: hsl(213, 75%, 34%);
  --cyan: hsl(186, 79%, 30%);
  --yellow: hsl(43, 100%, 50%);
  --yellow-light: hsl(44, 100%, 69%);
  --yellow-lighter: hsl(44, 100%, 95%);
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --main-width: 1088px;
  --ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--paper);
  color: var(--gray-dark);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: var(--font-size-base);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: var(--main-width);
  padding: 0 24px;
}

h1 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

/* Document
/* ================================================== */

.document-header {
  margin-top: -2rem;
}

/* Home
/* ================================================== */

.group-highlight {
  background: #faf785;
  border-radius: 8px;
  padding: 4px;
}
