---
layout: prototype
breadcrumbs:
  - Making a Podcast
  - Docs & Files
menu_items:
  - title: Move to…
    action: dialog#open
  - title: Copy to…
    action: dialog#open
---

<div data-controller="dialog">
  <h1>Modal with Folder Nav</h1>
  <p class="text--lg">
    This version attempts to reduce the number of clicks when navigating
    folders. Currently, you have to 1) click the select field and 2) click
    the folder you want.
  </p>
  <p class="text--lg">
    Folder navigation is well trod territory, so it might be helpful to
    take a cue from existing patterns. As a bonus, you could also display
    the contents of the selected folder in case that extra context is
    helpful.
  </p>

  <%= render "menu", menu_items: @menu_items %>

  <dialog data-dialog-target="minimalDialog" class="dialog">
    <h2 class="dialog__title">Copy this document to…</h2>
    <div class="font--medium mb-sm">Choose a project</div>
    <select data-dialog-target="select" class="select select--lg mb-md">
      <option>This Project</option>
      <option>Blog Revamp</option>
      <option>CoffeeScript Refactor</option>
      <option>Customer Support</option>
      <option>Podcast Production</option>
    </select>
    <div class="font--medium mb-sm">Choose a folder</div>
    <div class="folder-nav" data-controller="folderNav">
      <% @folder_sections.each do |folders| %>
        <ul data-folderNav-target="list" class="folder-nav__list">
          <% folders.each do |folder_name| %>
            <li class="folder-nav__item">
              <button data-action="folderNav#select" class="folder-nav__button">
                Folder <%= folder_name %>
              </button>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <form class="dialog__footer" method="dialog">
      <button
        data-action="dialog#confirm"
        class="button button--positive button--solid button--lg"
        id="confirmBtn"
        value="default"
      >
        Copy Here
      </button>
      <button class="button button--positive button--lg" value="cancel">
        Never mind
      </button>
      <button class="dialog__close button button--circle">
        <%= image_tag "x-dark.svg" %>
      </button>
    </form>
  </dialog>
</div>
