---
layout: prototype
breadcrumbs:
  - Making a Podcast
  - Docs & Files
menu_items:
  - title: Move to…
    action: dialog#open
  - title: Copy to…
    action: dialog#open
---

<div data-controller="dialog">
  <h1>Simple Modal</h1>

  <p class="text--lg">
    This version would be worth checking out if the appetite for work was
    fairly small since it leverages the existing workflow for
    moving/copying items. The main difference is that the content appears
    in a modal instead of a separate page. All the interaction within the
    modal would remain the same.
  </p>
  <p class="text--lg">
    To make things even simpler, I think we could probably do away with
    the thumbnail since the actual thing you're moving will be visible
    behind the dialog backdrop.
  </p>

  {% include menu.html%}

  {% capture dialog_content %}
    <div class="dialog__subselect">
      →
      <select data-dialog-target="select" class="select select--lg">
        <option>Docs & Files</option>
        <option>Ideas</option>
        <option>Folder A</option>
        <option>Folder B</option>
        <option>Folder C</option>
      </select>
    </div>
    <p class="callout">
      <strong>Note</strong>: This part of the prototype isn't fleshed out
      since it works like the current Basecamp version. You get the idea!
    </p>
  {% endcapture %}
  {% include dialog.html dialog_content=dialog_content %}
</div>
