---
layout: prototype
breadcrumbs:
  - Making a Podcast
  - Docs & Files
menu_items:
  - title: Move to…
    action: dialog#open
  - title: Copy to…
    action: dialog#open
folder_sections:
  -
    - Folder A
    - Folder B
    - Folder C
    - Folder D
    - Folder E
    - Folder F
  -
    - Folder A
    - Folder B
    - Folder C
    - Folder D
    - Folder E
    - Folder F
    - Folder G
    - Folder H
    - Folder I
    - Folder J
  -
    - Folder A
    - Folder B
    - Folder C
    - Folder D
    - Folder E
  -
    - Folder A
    - Folder B
    - Folder C
---

<div data-controller="dialog folderNav">
  <h1 class="page__title">Modal with Folder Nav</h1>
  <p>
    This version helps to reduce the number of clicks when navigating folders. Currently, you have to 1) click the select field and 2) click the folder you want. Here, we're cutting that number in half.
  </p>
  <p>
    To reduce clicks further, we could have a project pre-selected when the modal opens—perhaps the last project they copied something to.
  </p>
  <p>
    Folder navigation is well trod territory, so it might be helpful to take a cue from existing patterns. As a bonus, you could also display the contents of the selected folder in case that extra context is helpful.
  </p>

  {% include menu.html %}

  {% capture dialog_content %}
    <select class="dialog__select select select--lg">
      <option>This Project</option>
      <option>Blog Revamp</option>
      <option>CoffeeScript Refactor</option>
      <option>Customer Support</option>
      <option>Podcast Production</option>
    </select>

    <div class="font-medium text-base mb-2">Choose a folder</div>
    <div class="folder-nav" data-controller="folderNav">
      {% for folders in page.folder_sections %}
        <ul data-folderNav-target="list" class="folder-nav__list">
          {% for folder in folders %}
            <li class="folder-nav__item">
              <button data-action="folderNav#select" class="folder-nav__button">
                {{ folder }}
              </button>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endcapture %}
  {% include dialog.html dialog_content=dialog_content %}
</div>
