<dialog data-dialog-target="dialog" class="dialog">
  <h2 class="dialog__title">Copy this document to…</h2>
  <select data-dialog-target="select" class="select select--lg">
    <option>This Project</option>
    <option>Blog Revamp</option>
    <option>CoffeeScript Refactor</option>
    <option>Customer Support</option>
    <option>Podcast Production</option>
  </select>
  {{ dialog_content }}
  <form method="dialog">
    <footer class="dialog__footer">
      <button
        data-action="dialog#confirm"
        class="button button--positive button--solid button--lg"
        id="confirmBtn"
        value="default"
      >
        Copy Here
      </button>
      <button class="button button--positive button--lg" value="cancel">
        Never mind
      </button>
      <button class="dialog__close button button--circle" title="Close modal">
        <img src="assets/images/x-dark.svg" aria-hidden />
      </button>
    </footer>
  </form>
</dialog>
