.dialog {
  border-radius: 8px;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  color: inherit;
  font-family: inherit;
  margin: auto auto;
  max-width: 640px;
  padding: 32px;
  width: 100%;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

.dialog__title {
  margin-bottom: 24px;
}

.dialog__select {
  @apply mb-4;
}

.dialog__subsection > .dialog__subsection {
  padding-left: 32px;
}

.dialog__subselect {
  @apply mb-4;
  align-items: center;
  display: flex;
  gap: 8px;
}

.dialog__footer {
  align-items: center;
  display: flex;
  gap: 16px;
}

.dialog__close {
  position: absolute;
  right: 16px;
  top: 16px;
}
