.dialog {
  border-radius: 8px;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  color: inherit;
  font-family: inherit;
  margin: auto auto;
  max-width: 640px;
  padding: 32px;
  width: 100%;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog__title {
  margin-top: 0;
}

.dialog__subselect {
  align-items: center;
  display: flex;
  gap: 16px;
  margin: 1em 0;
}

.dialog__footer {
  align-items: center;
  display: flex;
  gap: 16px;
}

.dialog__close {
  position: absolute;
  right: 16px;
  top: 16px;
}
