.nav {
  align-items: center;
  background-color: var(--paper);
  display: flex;
  height: 40px;
  font-weight: bold;
  margin-bottom: 12px;
  position: sticky;
  top: 0;
}

.nav__list {
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav__item {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 0 12px;
  position: relative;
}

/* Icon placeholders */
.nav__item:before {
  background-color: var(--gray-dark);
  border-radius: 50%;
  content: "";
  height: 16px;
  opacity: 0.25;
  width: 16px;
}

.nav__profile {
  align-items: center;
  background-color: var(--cyan);
  border-radius: 50%;
  color: var(--white);
  display: flex;
  height: 32px;
  justify-content: center;
  margin-right: 12px;
  width: 32px;
}
