.select {
  border: solid 1px var(--gray-lighter);
  border-radius: 999rem;
  font-size: var(--font-size-base);
  height: 32px;
  padding: 0 12px;
  width: 100%;
}

.select--lg {
  height: 40px;
  padding: 0 16px;
}
