---
layout: default
---

<nav class="nav">
  <div class="nav__item"><a href="../">← Back</a></div>
  <ul class="nav__list">
    <li class="nav__item">Home</li>
    <li class="nav__item">Lineup</li>
    <li class="nav__item">Pings</li>
    <li class="nav__item">Hey!</li>
    <li class="nav__item">Activity</li>
    <li class="nav__item">My Stuff</li>
    <li class="nav__item">Find</li>
  </ul>
  <div class="nav__profile">AS</div>
</nav>

<main>
  {% if page.breadcrumbs %}
    <nav class="page-nav panel rounded--top">
      <ul class="breadcrumbs">
        {% for item in page.breadcrumbs %}
          <li class="breadcrumbs__item">{{ item }}</li>
          {% unless forloop.last %}
            <li class="breadcrumbs__separator">›</li>
          {% endunless -%}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  <div class="page panel panel--lg rounded relative">
    {{ content }}
  </div>
</main>
